<ion-header (click)="globalInteraction()">
  <ion-navbar>
    <ion-title>CHICHAS</ion-title>
    <ion-buttons end *ngIf="userDataProvider.hasLoggedIn()">
      <button ion-button class="add-button" (click)="goToAddItem()">
        <ion-icon name="add" class="add-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page" padding (click)="globalInteraction()">

  <ng-container *ngFor="let item of hookahList">
    <ion-card *ngIf="!(!userDataProvider.hasLoggedIn() && !item.active)">
      <ion-card-content [ngClass]="{'card-disable' : !item.active}">
        <ion-grid>
          <ion-row>
            <ion-col col-3 class="image-container">
              <img class="chezlui-food-item-image" src="{{ baseDataFolder + item.img }}" />
            </ion-col>
            <ion-col>
              <div class="card-details">
                <h1 class="title-item">{{ item.tilte | uppercase }}</h1>
                <p class="description" *ngIf="item.description !== ''">{{ item.description }}</p>
                <div>
                  <h2 class="price">{{ getFinalPrice(item) | number }} €</h2>
                </div>
              </div>
              <div class="tools-container">
                <span class="tools" *ngIf="userDataProvider.hasLoggedIn()">
                  <button ion-button small icon-only color="danger" (click)="showDeleteConfirm(item)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                  <button ion-button small icon-only color="dark">
                    <ion-icon name="create"></ion-icon>
                  </button>
                  <button ion-button small icon-only color="primary" (click)="itemActivation(item)">
                    <ion-icon name="eye-off" *ngIf="item.active"></ion-icon>
                    <ion-icon name="eye" *ngIf="!item.active"></ion-icon>
                  </button>
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
