page-add-photo {
  ion-navbar {
    .toolbar-background {
      background-color: color($colors, tabac);
    }
    .toolbar-title {
      color: color($colors, light);
      text-align: center;
      margin-left: -30px;
    }
    .bar-button-default {
      color: color($colors, golden);
      width: 100px;
    }
    button {
      .icon {
        margin-left: -40px;
      }
    }
  }

  ion-toolbar {
    .toolbar-background {
      background-color: color($colors, tabac);
    }
  }

  .chezlui-food-item-image {
    border-radius: 4px;
    height: 130px;
  }

  .card-background-page {
    background-color: color($colors, tabac);

    .item-form {
      background-color: color($colors, tabac);
      padding-left: 0px;
      .item-inner {
        border-bottom: 1px solid color($colors, golden) !important;
        box-shadow: inset 0 -1px 0 0 color($colors, golden) !important;
      }
    }

    input {
      color: color($colors, light);
    }
    ion-card {
      background-color: color($colors, tabac);

      &.selected {
        background: color($colors, secondary);
      }

      .card-title {
        color: color($colors, golden);
        font-size: 20px;
        // font-weight: bold;
      }
    }

    #profileImage {
      .ng2-imgcrop {
        canvas {
          width: 100%;
          height: 100%;
        }
      }
    }
    .ng2-imgcrop {
      input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 0%;
        min-height: 0%;
        font-size: 0px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
        z-index: 9999;
      }
    }
  }

  .list {
    margin-bottom: 0;
  }

  .login-button {
    margin-top: 25px;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
  }

  .list-md
    .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
  }
  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input-has-focus:last-child {
    border-bottom: none;
    box-shadow: none;
  }
  textarea {
    color: color($colors, light);
    height: 75px;
  }
  .normal-photo {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  button {
    ion-icon {
      margin-right: 8px;
      margin-bottom: 3px;
    }
  }
}
