page-drinks {
  ion-navbar {
    .toolbar-background {
      background-color: color($colors, tabac);
    }
    .toolbar-title {
      color: color($colors, light);
      text-align: center;
      margin-left: -30px;
    }
    .bar-button-default {
      color: color($colors, golden);
    }
  }

  .card-background-page {
    background-color: color($colors, tabac);

    ion-card {
      background-color: color($colors, tabac);
      padding-top: 20px;

      .card-content {
        background-color: color($colors, tabac);
      }

      .card-title {
        color: color($colors, golden);
        text-align: center;
        font-size: 20px;
        // font-weight: bold;
      }
    }
  }
}
