page-home {
  ion-navbar {
    .toolbar-background {
      background-color: color($colors, tabac);
    }
    .toolbar-title {
      color: color($colors, light);
      text-align: center;
      margin-left: -30px;
    }
    .bar-button-default {
      color: color($colors, golden);
      width: 100px;
    }
    button {
      .icon {
        margin-left: -40px;
      }
    }
    .info-button {
      font-size: 25px;
      span {
        margin-left: 25px;
      }
    }
  }

  .card-background-page {
    background-color: color($colors, tabac);

    .logo-container {
      margin-bottom: 100px;
      margin-top: 70px;

      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    ion-card {
      background-color: color($colors, tabac);
      padding-top: 20px;

      .card-content {
        background-color: color($colors, tabac);
      }

      .card-title {
        color: color($colors, golden);
        text-align: center;
        font-size: 25px;
        // font-weight: bold;
      }
    }
  }

  .fab {
    width: 100px !important;
    height: 100px !important;
  }

  .settings-icon {
    color: color($colors, tabac);
    font-size: 60px;
  }

  .copyright {
    color: color($colors, golden);
    text-align: center;
    a {
      text-decoration: none;
      color: color($colors, golden);
    }
  }

  .vip-display {
    position: absolute;
    top: 3%;
    right: 48%;
  }

  .icon-vip {
    background: url("../../assets/imgs/star.svg") no-repeat;
    background-size: 40px 40px;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
}
