page-home {
  ion-navbar {
    .toolbar-background {
      background-color: color($colors, tabac);
    }
    .toolbar-title {
      color: color($colors, light);
      text-align: center;
    }
    .bar-button-default {
      color: color($colors, golden);
    }
  }

  .card-background-page {
    background-color: color($colors, tabac);

    .logo-container {
      margin-bottom: 100px;
      margin-top: 70px;

      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    ion-card {
      background-color: color($colors, tabac);
      padding-top: 20px;

      .card-content {
        background-color: color($colors, tabac);
      }

      .card-title {
        color: color($colors, golden);
        text-align: center;
        font-size: 25px;
        // font-weight: bold;
      }
    }
  }
}
