<ion-header>
  <ion-navbar>
    <ion-title>PARAMÉTRES</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="card-background-page" padding>
  <form #settingsForm="ngForm" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="home"></ion-icon> CHOIX D'ESPACE
              </ion-card-title>
              <ion-list>
                <ion-item class="item-form">
                  <ion-label class="light-label">NORMAL</ion-label>
                  <ion-toggle [(ngModel)]="espaceNormal" (ionChange)="updateEspaceNormal()" name="espaceNormal" color="golden"></ion-toggle>
                </ion-item>
                <ion-item class="item-form">
                  <ion-label class="light-label">VIP</ion-label>
                  <ion-toggle [(ngModel)]="espaceVip" (ionChange)="updateEspaceVip()" name="espaceVip" color="golden"></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-card-title>
                <ion-icon name="star"></ion-icon> VIP PARAMÉTRES
              </ion-card-title>
              <ion-list>
                <ion-item class="item-form">
                  <ion-label class="light-label">MAJORATION EN €</ion-label>
                  <ion-input type="number" placeholder="0" [(ngModel)]="settings.delta" name="delta" class="light-label-number" required></ion-input>
                </ion-item>
                <p ion-text *ngIf="!settings.delta && submitted == true" color="danger" padding-left>
                  Il faut mettre un montant
                </p>
                <p ion-text *ngIf="!maximumValue(settings.delta)  && submitted == true" color="danger" padding-left>
                  Il faut mettre un montant inférieur à 100€
                </p>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row responsive-sm class="update-button">
        <ion-col offset-4 col-4>
          <button ion-button large (click)="onUpdate(settingsForm)" type="submit" block [disabled]="!canUpdate()">METTRE À JOUR</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
